In [38]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [8]:
from google.colab import files
uploaded = files.upload()

Saving New Text Document.csv to New Text Document.csv

In [9]:
data=pd.read_csv("hoursscore.csv")

In [10]:
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [12]:
data.isnull().sum()

    Hours  Scores
0   False   False
1   False   False
2   False   False
3   False   False
4   False   False
5   False   False
6   False   False
7   False   False
8   False   False
9   False   False
10  False   False
11  False   False
12  False   False
13  False   False
14  False   False
15  False   False
16  False   False
17  False   False
18  False   False
19  False   False
20  False   False
21  False   False
22  False   False
23  False   False
24  False   False

In [13]:
x=data.drop(['Scores'],axis=1)
y=data['Scores']

In [15]:
x

    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8

In [16]:
y

0     21
1     47
2     27
3     75
4     30
5     20
6     88
7     60
8     81
9     25
10    85
11    62
12    41
13    42
14    17
15    95
16    30
17    24
18    67
19    69
20    30
21    54
22    35
23    76
24    86
Name: Scores, dtype: int64

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [19]:
x_train

    Hours
9     2.7
13    3.3
1     5.1
22    3.8
5     1.5
2     3.2
12    4.5
15    8.9
3     8.5
4     3.5
20    2.7
17    1.9
21    4.8
18    6.1
24    7.8
7     5.5
10    7.7
14    1.1
19    7.4
6     9.2

In [20]:
x_test

    Hours
8     8.3
16    2.5
0     2.5
23    6.9
11    5.9

In [21]:
from sklearn.linear_model import LinearRegression

In [40]:
model  = {
    "LR" : LinearRegression(fit_intercept=True)
}

In [41]:
for name, model in model.items():
    print(f'Using model: {name}')
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(f'MSE Score: {np.sqrt(mean_squared_error(y_test, y_pred))}')  
    print(f'Training Score: {model.score(x_train, y_train)}')
    print(f'Test Score: {model.score(x_test, y_test)}')
    print('-'*60)

Using model: LR
MSE Score: 4.352380006653288
Training Score: 0.9491209376364416
Test Score: 0.9678055545167994
------------------------------------------------------------

In [29]:
print('Frist 10 Real Outputs in Testing : \n',pd.Series( y_test[:10].values))
print('--'*50)
print('Frist 10 Predicated Outputs in Testing : \n',pd.Series(y_pred[:10]))

Frist 10 Real Outputs in Testing :
 0    81
1    30
2    21
3    76
4    62
dtype: int64
----------------------------------------------------------------------------------------------------
Frist 10 Predicated Outputs in Testing :
 0    83.188141
1    27.032088
2    27.032088
3    69.633232
4    59.951153
dtype: float64

In [36]:
y_predval = model.predict([[9.25]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [37]:
y_predval

array([92.38611528])